<article>
  <% if signed_in? %>
		<%= admin_button(article) %>
	<% end %>
	<h1><%= link_to article.title, article_path(article) %></h1>
	<p><%= time_tag article.created_at, format: '%e %B %Y' %></p>
  <p>
	  <% article.categories.each do |category| %>
		  <%= link_to category_path(category), class: 'category-label' do %>
        <span class="label label-default"><%= category.name %></span>
      <% end %>
	  <% end %>
  </p>
	<%= simple_format article.text %>
</article>
<div class="comment-count">
  <% if local_assigns.has_key? :comment_count %>
    <%= link_to "- #{article.comments.size} comments -", article_path(article) %>
  <% end %>
</div>
