<article>
	<h1><%= @article.title %></h1>
	<ul>
		<% @article.categories.each do |category| %>
		  <li><%= link_to category.name, category_path(category) %></li>
		<% end %>
	</ul>
	<%= simple_format @article.text %>

	<% if signed_in? %>
		<br><br>
		<%= link_to 'Edit article', edit_article_path(@article) %> | 
		<%= link_to 'Delete article', @article, method: :delete,
    data: { confirm: 'Are you sure?' } %>
	<% end %>
</article>
<hr>
<section>
	<h2>Comments</h2>
	<br>
	<%= render @article.comments %>
	<br>
	<%= render 'comments/comment_form' %>
</section>
