<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'header' %>
	<%= render 'navbar' %>
	<div class="container-fluid">
		<div id='side' class='col-md-3'>
			<%= render 'categories_menu' %>
		</div>
		<%= render 'messages' %>
		<div id='main' class='col-md-9'>
			<%= yield %>
		</div>
	</div>
	<footer>
		<%= debug(params) if Rails.env.development? %>
	</footer>
</body>
</html>
