<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<%= render 'header' %>
	<%= render 'navbar' %>
	<div class="container-fluid">
		<div id='side' class='col-md-3'>
			<%= render 'admin_menu' if signed_in?%>
			<%= render 'categories_menu' %>
			<%= render 'search_bar' %>
		</div>
		<div id='main' class='col-md-9'>
			<%= render 'notices' %>
			<%= yield %>
		</div>
	</div>
	<footer>
		&copy; 2014
	</footer>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
